[submodule "themes/simplicity"]
	path = themes/simplicity
	url = https://github.com/eshlox/simplicity.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
